streamlit==1.32.0
sentence-transformers==2.5.1
faiss-cpu==1.7.4
huggingface-hub==0.21.4
rank_bm25==0.2.2
pandas==2.2.1
numpy==1.26.4
rouge-score==0.1.2
bert-score==0.3.13
torch==2.2.1
tqdm==4.66.2
requests==2.31.0
python-dotenv==1.0.1
rank-bm25==0.2.2
typing-extensions==4.10.0
